
.conteiner {
   width: 100%;
   height: 100%;
   background-color: rgba(27, 16, 18, 0.959);
   

}

#tr-name {
    margin-left: 50px;
    color: beige;
}

#header {
    text-align: center;
    font-size: 400%;
    height: 400px;
    background-image: url("../images/he.jpeg"); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* margin-bottom: 25px; */
}

th {
    /* text-align: center; */
    font-size: 150%;
    color: beige;
}
#submit-btn {
    margin-left: 50px;
}
footer {
    background-image: url("../images/mind-the-gap.png"); 
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: cover; */
    height: 75px;
}
#train-table {
    color: beige;
    margin-left: 50px;
}